@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");
body{
    font-family: "Belleza", sans-serif;
    font-size:16px;
    background-color: #163943 ;
}

.container-alta {
    display: block;
    margin: 20px;
    @media (max-width: 768px) {
    & {
        margin-top: 70px;
        margin-left: 20px;
    }
    }
 
    h1, h2 {
        width: 210px;
        margin-bottom: 20px;
        color: rgb(207, 228, 247);
        background-color: #109D9C;
        margin-left: 40px;
        font-weight: 100;
        padding: 10px;
        box-shadow: -5px 5px 14px 6px rgba(0, 0, 0, 0.73);
        border-radius: 69px 0px 100px / 54px 100px 100px; 
        border: 4px solid #109D9C;
        letter-spacing: 1px;
        text-shadow: 0 3px 3px #080808;
    }

    hr{
        display: none;
    }
    
    div, input {
        width: 300px;
        display: block;
        margin-bottom: 1px;
        padding: 5px;
    }
    
    button {
        display: block;
        margin-top: 20px;
        height: 20px;
        width: 80px;
        background-color: #109D9C;
        color: white;
        cursor: pointer;
        margin-bottom: 10px;
        border: #095555;
        border-radius: 5px;

        &:hover {
            background-color: #095555;
        }

        &:disabled {
            background-color: rgba(235, 130, 69, 0.808);
            height: 20px;
        }
    }


    input[type="checkbox"] {
        display: inline;
        width: 15px;
        height: 15px;
        margin-top: 15px;
    }

    form div.mensaje-validacion {
        border: 2px solid #063a3a;
        background-color:#109D9C;
        color: #095555;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        display: none;
    }

    form{
        color:  rgb(185, 208, 228) ;
        font-family: "belleza", sans-serif;
        margin-bottom: 50px;
    }
    label{
        margin-top: 10px;
    }
    input{
        margin: 8px;
        background-color:  rgb(185, 208, 228);
        border-radius: 3px;
    }

    table,th, td {
        margin-left: -16px;
        padding: 10px;
        border: 1px solid #074949f8;
        border-collapse: collapse;
    }

    th{
    height: 60px;
    width: 180px;
    }

    table {
        width: 100%;
        background-color: #0c8080f8;
    }

    #listado-productos {
        width: 100%;
    }
    //-----------------------
    form .mensaje-validacion{
        display: block
    }
    //drop area
    #drop-area{
        border: 4px dashed #ccc;
        border-radius: 20px;
        width: 300px;
        margin: 10px;
        margin-top: 20px;
        padding: 20px;
    }
    .button{
        display: inline-block;
        padding: 10px;
        background: #ccc;
        color: #063a3a;
        cursor: pointer;
        border-radius: 5px;
        border-radius: 1px solid #ccc;
    }
    #foto{
        display: none;
    }
    #gallery img{
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }
    #drop-area.highlight{
        border-color:rgba(78, 163, 189, 0.685);
    }


    
}


 
