.section-carrito {
    padding: 20px;
    display: none;
    position: fixed;
    z-index: 1;
    top: 120px;
    left: 120px;
    right: 120px;
    bottom: 120px;
    box-shadow: .3em .3em 10em .3em rgba(0,0,0,1);
    color: aliceblue;
    font-family: "Belleza", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;

    @media (max-width:768px) {
        top: 120px;
        right: 70px;
        left: 70px;
    }

    &--visible {
        display: block;
        background: linear-gradient(to top, #143f4b, #2d7386);

        

    }
.btn__enviarCarrito{
   
    margin-bottom: 10px;
    font-family: 'trebuchet ms';
    color: #9FEAFC !important;
    font-size: 19px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 5px 3px 6px #173D47;
    padding: 12px 34px;
    border-radius: 10px;
    border: 0px solid #0F272E;
    background: #123038;
    background: linear-gradient(to top, #123038, #42AFCC);

  &:hover{
    color: #F9FCFC !important;
    background: #123038;
    background: linear-gradient(to top, #123038, #42AFCC);
  }
}
}


