
//error solucionado

h1.h1sn{

    @media (max-width:768px) {
    margin-top: 90px;
    }
}
.content p{
    color: aliceblue;
    padding: 20px;
}
img.img-orf{
    padding: 20px;
    max-width: 500px;
    @media (max-width:515px ) {
        max-width: 300px;
    }
}